.navbar .dropdown-toggle::after {
    color: white !important;
    /* background-color: aqua; */
    /* Change the dropdown arrow color to white */
}


.navbar-nav .dropdown-menu {
    position: static;
    width: 50% !important;
    margin: auto !important;
    background-color: #1f1f1f !important;
    border: 1px solid white !important;
    text-align: center;
}

.dropdown-menu.show {
    display: block;
    background-color: #1f1f1f !important;
}